/* Centers the text in the .App container */
.App {
  text-align: center;
}

/* Styles the logo image within the .App component */
.App-logo {
  height: 40vmin; /* Sets the height of the logo to 40% of the viewport's smaller dimension */
  pointer-events: none; /* Prevents the logo from being interactive (clickable) */
}

/* Applies animation to the .App-logo if the user has not set reduced motion preference */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear; /* Applies a spinning animation with a duration of 20 seconds, infinitely repeating */
  }
}

/* Styles the header of the .App component */
.App-header {
  background-color: #282c34; /* Sets a dark background color */
  min-height: 100vh; /* Ensures the header takes up at least the full viewport height */
  display: flex; /* Uses flexbox for layout */
  flex-direction: column; /* Aligns children in a vertical column */
  align-items: center; /* Centers children horizontally */
  justify-content: center; /* Centers children vertically */
  font-size: calc(10px + 2vmin); /* Responsive font size based on viewport size */
  color: white; /* Sets text color to white */
}

/* Styles links within the .App component */
.App-link {
  color: #61dafb; /* Sets the link color to a light blue */
}

/* Defines the spinning animation for the .App-logo */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); /* Starts the animation with no rotation */
  }
  to {
    transform: rotate(360deg); /* Ends the animation with a full 360-degree rotation */
  }
}