@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600;700&family=Bebas+Neue&display=swap');

#APP {
  background: #0d0f12;
  min-height: 100vh;    /* at least full viewport height */
  font-family: 'DM Sans', system-ui, sans-serif;
}

.navbar {
  background-color: #0d0f12;
  border-bottom: 1px solid #252830;
  padding: 0 24px;
  display: flex;
  align-items: center;
  height: 56px;
  position: sticky;
  top: 0;
  z-index: 100;    /*sits above page ontent*/
}

.navbar-brand {  /*logo text*/
  font-family: 'Bebas Neue', sans-serif;
  font-size: 24px;
  letter-spacing: 0.1em;
  color: #e0a820;
  text-decoration: none;
  margin-right: 32px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: color 0.15s ease;
}
.navbar-brand:hover {
  color: #ffd36a;
}

.navbar-brand:active,
.navbar-brand:focus {
  color: #ffd36a;
  outline: none;
}

.navbar-logo {  /*logo image*/
    width: 32px;
    height: 32px;
    object-fit: contain;
    transform: translateY(-2px);
}

.navbar-links {
  display: flex;
  gap: 4px;
  flex: 1;
}

.nav-link {
  color: #888;
  text-decoration: none;
  font-size: 13px;
  font-weight: 500;
  padding: 6px 12px;
  border-radius: 8px;
  transition: color 0.15s ease;
  cursor: pointer;
}

.nav-link:hover {
  color: #f0f0f0;
}

.nav-link--danger {
  color: #e24b4a;
}

.nav-link--danger:hover {
  color: #ff6b6b;
}

.loading-screen {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #555;
  font-size: 14px;
}

.loading-brand {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 32px;
  letter-spacing: 0.1em;
  color: #e0a820;
  margin-bottom: 12px;
}

.nav-link--active {
  background: transparent;
  border: none;
  font-weight: 500;
}

.nav-link,
.nav-link:hover,
.nav-link:active,
.nav-link:focus {
  outline: none;
}

.nav-link--active,
.nav-link--active:hover,
.nav-link--active:focus,
.nav-link--active:active {
  color: #9e8959;
  outline: none;
}